* {
  margin: 0;
  text-transform: capitalize;
}

.poke-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  margin: 20px;
}

.poke-list li{
  cursor: pointer;
}

.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  width:42vw;
}

button {
  width: 20vw;
  height: 3vh;
}

.pokemon-container {
  padding: 20px;
  margin: 20px;
}